
body{
    background:#ffda5f;
     
}
.login-block {
    background: linear-gradient(0deg, #ffda5f 0, #fff1c4 100%);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 5%;
}

.banner-sec {
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container.login{
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 0px 30px;
    position: relative;
}

.login-sec .copy-text {
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
    padding: 60px 20px;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
}

h3 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color:#fe3232;
    
}

h3:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #b0ce35;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}

.btn-login:hover {
    background: rgba(222, 98, 96, 0.8);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
}

.banner-text {
    padding: 20px;
}

.banner-text h2 {
    font-weight: 800;
    font-size: 30px;
    color: #f16868;
    
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background-color: #FEB58A;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
}

.banner-text p {
    font-weight: 600;
    
}

#box {
     padding: 25px;
}
#picture4 {
    border-radius: 10px;
    position: relative;
    margin-bottom: 28%;
    margin-top: 40%;
}
#picture5 {
    border-radius: 10px;
    margin-bottom: -1px;
    margin-top: 25px;
    position: relative;  
}


#pie{
    margin-top: 10%;
    margin-bottom: -10px;
    font-weight: 600;
    font-size: 25px;
    color:#fe3232;
}
